h1 {
    color: rgba(255,0,0,0.9);
    font-size: 30px;
}

p {
    color: green;
    font-family: 'Indie Flower', cursive;
}

#chosen {
   color: yellow;
}

.em {
    font-style: italic;
}

#chosen, .em {
    border: 1px dashed blue;
}

article > p {
    color: blue;
}

article + p {
    color: red;
}

a[href^="https"] {
    color: green;
}

p::first-letter {
    font-weight: bold;
}

p::before {
    content: "{";
    color: gray;
}
p::after {
    content: "}";
    color: gray;
}

p:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(128,128,128);
}